@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 216, 12%, 84%;
        --foreground: 300, 3%, 6%;

        --card: 0, 0%, 100%;
        --card-foreground: 300, 3%, 6%;

        --popover: 0, 0%, 100%;
        --popover-foreground: 300, 3%, 6%;

        --primary: 257, 72%, 50%;
        --primary-foreground: 216, 12%, 84%;

        --secondary: 210, 40%, 96.1%;
        --secondary-foreground: 222.2, 47.4%, 11.2%;

        --muted: 210, 40%, 96.1%;
        --muted-foreground: 0, 0%, 25%;

        --accent: 257, 72%, 40%;
        --accent-foreground: 0, 0%, 100%;

        --destructive: 0, 72%, 51%;
        --destructive-foreground: 300, 92%, 95%;

        --border: 0, 0%, 0%;

        --input: 214.3, 31.8%, 91.4%;
        --input-hover: 0, 0%, 100%;

        --ring: 222.2, 84%, 4.9%;

        --radius: 0.5rem;
    }

    .dark,
    :root[class~="dark"] {
        --background: 240, 5%, 4%;
        --foreground: 220, 20%, 98%;

        --card: 220, 8%, 12%;
        --card-foreground: 220, 20%, 98%;

        --popover: 220, 12%, 10%;
        --popover-foreground: 220, 20%, 98%;

        --primary: 230, 80%, 60%;
        --primary-foreground: 220, 20%, 98%;

        --secondary: 140, 70%, 40%;
        --secondary-foreground: 220, 20%, 8%;

        --muted: 220, 8%, 20%;
        --muted-foreground: 220, 15%, 70%;

        --accent: 210, 80%, 70%;
        --accent-foreground: 220, 10%, 8%;

        --destructive: 0, 80%, 50%;
        --destructive-foreground: 220, 20%, 98%;

        --border: 0, 0%, 100%;

        --input: 220, 8%, 16%;
        --input-hover: 220, 8%, 14%;

        --ring: 230, 80%, 60%;
    }

    .bg_glow {
        animation: bg_glow 5s infinite linear;
    }

    @keyframes bg_glow {
        0% {
            box-shadow: 0 0 200px 200px rgba(131, 131, 230, 0.2);
        }

        50% {
            box-shadow: 0 0 200px 200px rgba(131, 131, 230, 0.35);
        }

        100% {
            box-shadow: 0 0 200px 200px rgba(131, 131, 230, 0.2);
        }
    }

    * {
        @apply border-border/10;
    }

    body {
        @apply bg-background text-foreground;
    }

    ::-webkit-scrollbar {
        @apply size-[7px] rounded-full bg-background;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-md bg-accent;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-accent/80;
    }
}
